@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

.container_x1 {
    padding-top: 30px;
    font-family: 'Cairo', sans-serif;
}

.container_x4 {
    padding-bottom: 30px;
    font-family: 'Cairo', sans-serif;
}
